* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #f8f9fa;
  color: #0c0cba;
  font: 15px system-ui, -apple-system, BlinkMacSystemFont,
        "Segoe UI", sans-serif;
}



/* HEADER */

header {
  position: sticky;
  top: 0;
  background: #ffffffdd;
  backdrop-filter: blur(12px);
  border-bottom: 1px solid #0b3fd9;
  z-index: 5;
}

.nav {
  max-width: 1150px;
  margin: auto;
  padding: 18px 22px;
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav b {
  letter-spacing: 2px;
}

.nav b span {
  font-weight: 400;
  color: #858b98;
  margin-left: 4px;
}

nav {
  margin-left: auto;
  display: flex;
  gap: 22px;
}

nav a {
  color: #aab0bc;
  text-decoration: none;
}


/* BUTTONS */

.outline,
.secondary,
.actions button {
  background: #054bf0;
  border: 1px solid #1e49b5;
  color: #eee;
  border-radius: 10px;
  padding: 11px 15px;
  cursor: pointer;
}

.primary {
  display: inline-block;
  background: #eee;
  color: #090a0d;
  border: 0;
  border-radius: 10px;
  padding: 13px 17px;
  font-weight: 800;
  text-decoration: none;
  margin: 12px 8px 0 0;
  cursor: pointer;
}

.secondary {
  display: inline-block;
  text-decoration: none;
}


/* HERO */

.hero,
section {
  max-width: 1150px;
  margin: auto;
  padding: 90px 22px;
}

.hero {
  min-height: 620px;
  display: grid;
  grid-template-columns: 1.2fr 0.8fr;
  gap: 65px;
  align-items: center;
}

.hero small,
section > small {
  letter-spacing: 2px;
  color: #858b98;
  font-weight: 800;
}

.hero h1 {
  font-size: clamp(48px, 7vw, 80px);
  line-height: 1;
  margin: 18px 0;
}

.hero em {
  font-style: normal;
  color: #9299a6;
}

.hero p,
section > p,
article p {
  color: #949aa7;
  line-height: 1.7;
  max-width: 650px;
}


/* HERO CARD */

.card,
.balance,
.grid article,
.transactions {
  border: 1px solid #282c36;
  background: #10131a;
  border-radius: 20px;
}

.card {
  padding: 28px;
  min-height: 310px;
}

.card i {
  float: right;
  border: 1px solid #3a3f4a;
  border-radius: 20px;
  padding: 4px 8px;
  font-size: 10px;
}

.card strong {
  display: block;
  font-size: 45px;
  margin: 65px 0 20px;
}

.chart {
  font-size: 42px;
  letter-spacing: 5px;
  color: #7d8491;
}

.card code {
  color: #858b98;
}


/* SECTIONS */

h2 {
  font-size: 40px;
  margin: 12px 0 30px;
}


/* FEATURES */

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.grid article {
  padding: 28px;
}

.grid article > b {
  font-size: 25px;
}


/* WALLET */

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.balance {
  padding: 28px;
  margin-bottom: 15px;
}

.balance strong {
  display: block;
  font-size: 42px;
  margin: 7px 0;
}

.balance code {
  color: #89909d;
}


/* ASSETS */

.assets {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.assets > div {
  background: #10131a;
  border: 1px solid #252934;
  padding: 20px;
  border-radius: 15px;

  display: grid;
  grid-template-columns: 35px 1fr 1fr;
  align-items: center;
}

.assets span {
  text-align: right;
  color: #a0a6b1;
  font-size: 13px;
}


/* ACTIONS */

.actions {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
  margin: 15px 0;
}

.actions button {
  cursor: pointer;
}


/* TRANSACTIONS */

.transactions {
  padding: 22px;
}

.transactions h3 small {
  float: right;
  color: #777f8c;
  font-weight: 400;
}

.transactions p {
  padding: 15px 0;
  border-bottom: 1px solid #23262f;
  color: #b7bdc8;
}

.transactions span {
  float: right;
  color: #9299a6;
}


/* SECURITY */

.warning {
  background: #17150e;
  border: 1px solid #4d4734;
  color: #d1c79f;
  padding: 15px;
  border-radius: 10px;
}


/* FOOTER */

footer {
  text-align: center;
  padding: 45px;
  color: #68707d;
  font-size: 11px;
  letter-spacing: 1.5px;
  border-top: 1px solid #1e2129;
}


/* MODAL */

.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: #000b;
  place-items: center;
  z-index: 20;
  padding: 20px;
}

.modal.show {
  display: grid;
}

.modalbox {
  position: relative;
  width: min(470px, 100%);
  background: #11141b;
  border: 1px solid #2b303a;
  border-radius: 18px;
  padding: 28px;
}

.modalbox #close {
  position: absolute;
  right: 12px;
  top: 8px;
  background: none;
  border: 0;
  color: #aaa;
  font-size: 28px;
  cursor: pointer;
}

.modalbox input,
.modalbox select {
  width: 100%;
  padding: 12px;
  margin: 8px 0 15px;
  background: #090b10;
  border: 1px solid #30343d;
  color: white;
  border-radius: 8px;
}

.submit {
  width: 100%;
  padding: 12px;
  background: #eee;
  color: #090a0d;
  border: 0;
  border-radius: 8px;
  font-weight: 800;
  cursor: pointer;
}


/* MOBILE */

@media (max-width: 800px) {

  nav {
    display: none;
  }

  .hero {
    grid-template-columns: 1fr;
  }

  .grid,
  .assets {
    grid-template-columns: 1fr;
  }

  .actions {
    grid-template-columns: 1fr 1fr;
  }

  .heading {
    display: block;
  }
}


@media (max-width: 480px) {

  .hero h1 {
    font-size: 48px;
  }

  .actions {
    grid-template-columns: 1fr;
  }

  .card strong {
    font-size: 34px;
  }
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
    background:
        radial-gradient(circle at top, #f5f7f6 0%, #f6f8f7 45%, #fcfefd 100%);
    color: #040404;
}

/* =========================
   COMMON
========================= */

.screen {
    min-height: 100vh;
    display: none;
}

.screen.active {
    display: flex;
}

/* =========================
   HOME SCREEN
========================= */

#home {
    align-items: center;
    justify-content: center;
    padding: 25px;
}

.home-container {
    width: 100%;
    max-width: 430px;
    text-align: center;
}

.logo {
    width: 75px;
    height: 75px;
    margin: 0 auto 25px;
    border-radius: 22px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: linear-gradient(
        145deg,
        #6aff35,
        #20db10
    );

    color: #071006;
    font-size: 38px;
    font-weight: bold;

    box-shadow:
        0 0 35px rgba(75,255,40,.18);
}

.home-container h1 {
    font-size: 32px;
    margin-bottom: 12px;
}

.home-container p {
    color: #9ea7a2;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 32px;
}

.open-btn {
    width: 100%;
    border: none;
    padding: 17px;
    border-radius: 16px;

    background: #54f52d;
    color: #071006;

    font-size: 16px;
    font-weight: 700;

    cursor: pointer;

    transition: .2s;
}

.open-btn:hover {
    transform: translateY(-2px);
    filter: brightness(1.08);
}

.demo-label {
    margin-top: 18px;
    font-size: 11px;
    color: #69736d;
    letter-spacing: .5px;
}

/* =========================
   PHRASE SCREEN
========================= */

#phrase {
    align-items: center;
    justify-content: center;
    padding: 25px;
}

.phrase-container {
    width: 100%;
    max-width: 430px;
}

.back {
    color: #aeb7b2;
    background: none;
    border: none;
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 35px;
}

.phrase-container h2 {
    font-size: 29px;
    margin-bottom: 12px;
}

.phrase-container .description {
    color: #929b96;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 25px;
}

.demo-warning {
    padding: 13px 15px;
    border-radius: 12px;
    background: rgba(255,255,255,.05);
    border: 1px solid rgba(255,255,255,.08);
    color: #aeb7b2;
    font-size: 12px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.input-box {
    position: relative;
    margin-bottom: 12px;
}

.input-box input {
    width: 100%;
    padding: 17px 50px 17px 17px;

    border-radius: 15px;
    border: 1px solid #343b37;

    background: #171c1a;
    color: white;

    outline: none;
    font-size: 15px;
}

.input-box input:focus {
    border-color: #58f535;
}

.toggle {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);

    background: none;
    border: none;
    color: #87918b;

    cursor: pointer;
}

.error {
    min-height: 20px;
    color: #ff6e6e;
    font-size: 13px;
    margin-bottom: 10px;
}

.unlock-btn {
    width: 100%;
    padding: 17px;

    border: none;
    border-radius: 15px;

    background: #54f52d;
    color: #071006;

    font-size: 16px;
    font-weight: bold;

    cursor: pointer;
}

.unlock-btn:hover {
    filter: brightness(1.08);
}

/* =========================
   WALLET
========================= */

#wallet {
    justify-content: center;
    padding: 20px;
}

.wallet {
    width: 100%;
    max-width: 430px;
    min-height: 760px;

    background: linear-gradient(
        180deg,
        #1b211f 0%,
        #111514 45%,
        #0d100f 100%
    );

    border-radius: 28px;

    padding: 22px 20px 25px;

    box-shadow:
        0 25px 70px rgba(0,0,0,.65),
        inset 0 1px 0 rgba(255,255,255,.05);
}

/* TOP BAR */

.topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 35px;
}

.top-left {
    display: flex;
    align-items: center;
    gap: 17px;
}

.wallet-logo {
    width: 28px;
    height: 28px;

    border: 2px solid #dce4df;
    border-radius: 7px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 15px;
    font-weight: bold;
}

.expand {
    color: #cbd2ce;
    font-size: 17px;
}

.wallet-name {
    font-size: 17px;
    font-weight: 600;

    display: flex;
    align-items: center;
    gap: 7px;
}

.wallet-name span {
    color: #aab2ad;
    font-size: 12px;
}

.search {
    width: 23px;
    height: 23px;

    border: 3px solid #dce3df;
    border-radius: 50%;

    position: relative;
}

.search::after {
    content: "";

    position: absolute;

    width: 9px;
    height: 3px;

    background: #dce3df;

    right: -7px;
    bottom: -3px;

    transform: rotate(45deg);
    border-radius: 2px;
}

/* BALANCE */

.balance-section {
    text-align: center;
    margin-bottom: 28px;
}

.balance {
    font-size: 52px;
    font-weight: 500;

    letter-spacing: -2px;

    margin-bottom: 5px;
}

.change {
    color: #e76a67;
    font-size: 14px;
}

.down-arrow {
    font-size: 18px;
    margin-right: 4px;
}

/* ACTIONS */

.actions {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;

    margin-bottom: 34px;
}

.action {
    text-align: center;
    color: #cdd3cf;
    font-size: 13px;
}

.action-button {
    width: 67px;
    height: 67px;

    margin: auto auto 9px;

    border-radius: 18px;

    background: #202522;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 28px;

    transition: .2s;
}

.action-button:hover {
    transform: translateY(-2px);
}

.buy .action-button {
    background: linear-gradient(
        145deg,
        #3a1de1,
        #0c1bed
    );

    color: #f3f4f5;

    box-shadow:
        0 0 25px rgba(84, 13, 227, 0.16);
}

.bolt {
    font-size: 34px;
    font-weight: bold;
}

/* TRENDING */

.section-title {
    font-size: 17px;
    margin-bottom: 14px;
}

.trending {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

    margin-bottom: 42px;
}

.coin {
    background: rgba(39,44,42,.9);

    border-radius: 18px;

    min-height: 82px;

    padding: 14px;

    display: flex;
    align-items: center;
    gap: 9px;
}

.coin-icon {
    width: 42px;
    height: 42px;

    flex-shrink: 0;

    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 12px;
    font-weight: bold;
}

.br-icon {
    background: linear-gradient(
        145deg,
        #7864ff,
        #15d5ae
    );
}

.roam-icon {
    background: #d9d9d9;
    color: #222;
}

.coin-info {
    flex: 1;
    min-width: 0;
}

.coin-name {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 7px;
}

.coin-value {
    color: #aeb6b1;
    font-size: 11px;
}

.coin-price {
    text-align: right;
}

.price {
    font-size: 12px;
    margin-bottom: 7px;
}

.positive {
    font-size: 10px;
    color: #63ef79;
}

/* BOTTOM */

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    padding: 0 7px;
}

.tabs {
    display: flex;
    gap: 55px;
}

.tab {
    color: #b7bfba;
    font-size: 15px;
    padding-bottom: 13px;
    cursor: pointer;
}

.tab.active {
    color: #e9eee9;
    border-bottom: 3px solid #7cff5a;
}

.filter {
    font-size: 22px;
    color: #aeb7b1;
}

/* MOBILE */

@media(max-width:430px) {

    #wallet {
        padding: 0;
    }

    .wallet {
        min-height: 100vh;
        border-radius: 0;
    }

    .balance {
        font-size: 48px;
    }

    .action-button {
        width: 61px;
        height: 61px;
    }
}